<div *ngIf="isAuthenticated" >
    <!-- <div class="container text-center position-relative" style="min-width: 800px;" *ngIf="!simStarted ">
        <div [@fadeInOut] style="display: flex; flex-direction: column; align-items: center; justify-content: center;" *ngIf="!simStarting">
            <div class="display-4">Welcome to Hahn simulation!</div>
            <img src="../../../assets/cargoLogo.png" alt="cargo" style="width: 300px;">
            <button class="btn-custom" (click)="startSim()">Start</button>
        </div>
        <div [@fadeInOut] class="sim-started" *ngIf="simStarting">
        Simulation starting...
        </div>
    </div> -->
    <div  >
        <app-navbar [isStarted]="simStarted" class="nav-extra"></app-navbar>
        <div class="container-fluid p-3 home-container">
            <div class="home-header">
                <p class="text-white">Total coins: <b>${{totalCoins}}</b></p>
                <p class="text-white">Cargo Vehicles: <b>{{totalVehicles}}</b></p>
                <button class="btn btn-success" style="width: 100px;" (click)="buyCargo()">Buy</button>
                <button class="btn btn-secondary" style="width: 100px; margin-top: 1em;" onclick="location.reload()">Refresh</button>
            </div>
            <div class="cargo-container">
                <div class="cargo-item" *ngFor="let object of cargoVehicles">
                    <img src="../../../assets/cargoLogo.png" style=" width: 150px; border-bottom: 1px solid black; background-color: rgba(255, 255, 255, 0.774);">
                    <div class="cargo-item-content">
                        <div class="cargo-item-content-text"><b>Id:</b>{{object.id}}</div>
                        <div class="cargo-item-content-text"><b>Position:</b> {{object.positionNodeId}}</div>
                        <div class="cargo-item-content-text"><b>In transit:</b> {{object.inTransit}}</div>
                        <div class="cargo-item-content-text"><b>Capacity:</b> {{object.capacity}}</div>
                        <div class="cargo-item-content-text"><b>Load:</b> {{object.load}}</div>
                        <button class="btn-custom" style="width: 100% !important;">Details</button>
                    </div>
                </div>
            </div>
        </div>
    <app-orders></app-orders>

    </div>
</div>




<div *ngIf="!isAuthenticated">
    <div style="display: flex; flex-direction: column; gap: 3em; align-items: center; justify-content: center;">
        <h1>Unauthorized access</h1>
        <img src="../../../assets/ban.png" alt="Ban" style="width: 300px;">
        <button class="btn-custom" (click)="redirectLogin()">Back to loggin</button>
    </div>
</div>