<div class="modal-custom" style="display: flex; flex-direction: column;">
    <div style="padding: 1em; background-color: rgba(217, 77, 252, 0.479); color: white; display: flex; justify-content: space-between; align-items: center;">
        <div>
            Orders
        </div>
        <div style="display: flex; gap: .5em;">
            <!-- <button class="btn-custom" style="width: 150px; " (click)="createOrders()">Create more</button> -->
            <button class="btn-custom" style="width: 4em;" (click)="closeOrders()">Close</button>
        </div>
    </div>
    <div style="overflow: auto;">
        <div style="display: flex; flex-direction: column; align-items: center; gap: 1em; padding: 1em 0;">
            <div class="order-item" *ngFor="let object of ordersList" (click)="acceptOrder(object.id)">
                <div style="display: flex; justify-content: space-between;">
                    <div style="padding-left: .5em;">Id:</div>
                    <div style="padding-right: .5em;">{{object.id}}</div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div style="padding-left: .5em;">Value:</div>
                    <div style="padding-right: .5em;">{{object.value}}</div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div style="padding-left: .5em;">Origin:</div>
                    <div style="padding-right: .5em;">{{object.originNodeId}}</div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div style="padding-left: .5em;">Target:</div>
                    <div style="padding-right: .5em;">{{object.targetNodeId}}</div>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div style="padding-left: .5em;">Load:</div>
                    <div style="padding-right: .5em;">{{object.load}}</div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="modal-background">

</div>
