<div class="container position-relative">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" class="shadow-sm p-3 custom-form">
        <span></span>
        <div class="mb-3 position-relative">
            <input type="text" class="form-control" formControlName="username" placeholder="Username">
            <span *ngIf="submitted && formulario.get('username')?.errors?.['required']" class="text-danger position-absolute error-text">
                Username is required.
            </span>
            <span *ngIf="submitted && formulario.get('username')?.errors?.['pattern']" class="text-danger position-absolute error-text">
                Only letters valid
            </span>
        </div>
        <div class="mb-3 position-relative">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
            <span *ngIf="submitted && formulario.get('password')?.errors" class="text-danger position-absolute error-text">
                Password is required.
            </span>
        </div>
        <input type="submit" [class]="!isButtonDisabled ? 'btn btn-primary ' : 'btn btn-danger'" style="width: 100%;" [disabled]="isButtonDisabled">
    </form>
    <div class="text-left pt-2 position-absolute" style="bottom: -10px; left: 30px;">
        <p class="error" *ngIf="isLogged == false">Wrong credentials</p>
        <p class="success" *ngIf="isLogged">Successful login!</p>
    </div>
</div>
