body {
	background: linear-gradient(-45deg, #2D6FE8, #7557D1, #F20FCC, #292F3B);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn-custom{
	background-color: #ffffff40;
	border-radius: 0.375em;
	border: 1var(--bs-btn-border-width) solid var(--bs-btn-border-color);
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	width: 60%;
	height: 2.2em;
}

.btn-custom:hover{
	background-color: var(--bs-btn-hover-bg);
	color: white;
}